<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.castcommunity.cc"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cc"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_cc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NoteSendActivity"/>
        <activity android:name=".Toolbar.NoteToolbarActivity"/>
        <activity
            android:name=".MyBoardActivity"
            android:label="@string/title_activity_my_board"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Toolbar.MyBoardToolbarActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Toolbar.UpdateToolbarActivity" />
        <activity android:name=".UpdateActivity" />
        <activity
            android:name=".PwChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".NickChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".EmailChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/popupTheme" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".Toolbar.MyInfoToolbarActivity" />
        <activity android:name=".Toolbar.DetailToolbarActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".Toolbar.WriteToolbarActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Toolbar.BoardToolbarActivity" />
        <activity android:name=".Toolbar.FindToolbarActivity" />
        <activity android:name=".IdFindActivity" />
        <activity android:name=".PwFindActivity" />
        <activity android:name=".Toolbar.RegisterToolbarActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BoardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>